:root {
    --bg-color: #E0F9D7;
    --font-color: #FFF;
    --secondary-color: #0A1A04;
}

.checkout-box {
    min-height: 70vh;
    width: 100%;
    margin: 45px 0;

    display: flex;
    justify-content: center;
}

.checkout-box .inner-box {
    height: 100%;
    width: 75%;
    padding: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary-color);
}

.inner-box h2 {
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px 0;
    border: 2px solid var(--secondary-color);
}

.inner-box .checkout-form {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 25px ;
    padding: 15px;
    border: 2px solid var(--secondary-color);
}

.checkout-form span {
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--secondary-color);
    letter-spacing: 2px;
    font-weight: 500;
}

.checkout-form label {
    font-style: italic;
}

.checkout-form input {
    padding: 8px 15px;
    margin: 5px 0;
    font-size: .9rem;
    border: 1px solid var(--secondary-color);
    outline: none;
}

.checkout-form input:focus {
    background-color: hsla(0, 0%, 100%, 0.7);
}

.checkout-form select {
    padding: 8px 15px;
    margin: 5px 0;
    border: 1px solid var(--secondary-color);
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.checkout-form .cards-box {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cards-box.visible {
    opacity: 1;
    transform: translateY(0);
}

.checkout-form .cards-box .cvv-exp {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkout-form button {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;

    color: var(--secondary-color);
    background-color: hsla(0, 0%, 100%, 0.6);
    border: 1px solid var(--secondary-color);
    

    margin: 20px 0 10px;
    padding: 8px 0; 
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.checkout-form button:hover {
    background-color: var(--secondary-color);
    color: var(--font-color);
}